.floating-button {
  position: fixed;
  bottom: 30px;
  right: 3vw;
  z-index: 2000;
}

.enquire-floating {
  border-radius: 50rem !important;
  border: 5px solid gold;

  width: 4vw;
  height: 4vw;
}
